html, body {
    background: aliceblue;
    height: 100%;
    margin: 0;
    padding: 0;
}

header a {
    color: inherit;
    text-decoration: none;
}

canvas {
    display: block;
}

.main-header {
    align-items: center;
    background: #236929;
    color: aliceblue;
    display: flex;
}

.main-header h1 {
    font-family: sans-serif;
    margin: 1ex 1em;
}

.main-nav ul {
    list-style: none;
}

.main-nav ul li {
    display: inline-block;
    padding: 0.5ex 1ex;
}

.main-nav ul li + li {
    border-left: 1px solid aliceblue;
}

.main-controls {
    /* No controls, for now. */
    display: none;
}

.list-body {
    background-image: url("/img/clouds.svg");
    background-position: bottom;
    background-repeat: repeat-x;
}

.list-section a {
    color: inherit;
    text-decoration: none;
}

.list-section .add-room,
.list-section .rooms {
    font-size: 1.5em;
}

.list-section .rooms {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.list-section h2,
.list-section li,
.list-section .add-room {
    display: flex;
    align-items: center;
}

.list-section li {
    margin: 0.75ex;
}

.list-section .name-header,
.list-section .count-header,
.list-section .add-room-name,
.list-section .add-room-button,
.list-section .name,
.list-section .count {
    flex-basis: 50%;
}

.list-section .name-header,
.list-section .add-room-name,
.list-section .name {
    text-align: right;
    padding-right: 1.2em;
}

.list-section .count-header,
.list-section .add-room-button,
.list-section .count {
    padding-left: 1.2em;
}

.add-room {
    margin-top: 1em;
}

.add-room-input,
.add-room-submit {
    font-family: serif;
    font-size: 0.9em;
    padding: 0.2ex 1.5em;
}

.add-room-input {
    padding-right: 0;
}

.add-room-submit {
    background: inherit;
    border: 1px solid lightblue;
    border-radius: 1em;
    cursor: pointer;
    font-weight: bold;
}

.add-room-input {
    background: inherit;
    border: 0;
    border-bottom: 1px dashed lightblue;
    text-align: right;
}

#help {
    font-size: 1.5em;
}

#help header {
    text-align: center;
}

#help header address {
    font-style: italic;
}